<%- include('header', {title: "Contact Us"}); -%>
<div class="dark">
    <h3>ارتباط با ما</h3>
    <form class="quote">
            <div>
                <label>نام</label><br>
                <input type="text" placeholder="نام">
            </div>
            <div>
                <label>ایمیل</label><br>
                <input type="email" placeholder="ایمیل">
            </div>
            <div>
                <label>پیام</label><br>
                <textarea placeholder="پیام"></textarea>
            </div>
            <button class="button_1" type="submit">ارسال</button>
    </form>
</div>
<%- include('footer'); -%>