
        <footer>
            <div class="card">
                <h2><a href="/">ساعت <span>خفن</span></a></h2>
                <p> با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعل</p>
            </div>
            <div class="card cen">
                <h3>لینک های سریع</h3>
                <ul>
                    <li><a href="about-us">درباره</a></li>
                    <li><a href="#">تخفیف</a></li>
                    <li><a href="#">کوپن</a></li>
                    <li><a href="contact-us">ارتباط</a></li>
                </ul>
            </div>
            <div class="card cen">
                <h3>محصولات جدید</h3>
                <ul>
                    <li><a href="#">زنانه</a></li>
                    <li><a href="#">جانبی</a></li>
                    <li><a href="#">مردانه</a></li>
                    <li><a href="#">غیره</a></li>
                </ul>
            </div>
            <div class="card cen">
                <h3>پشتیبانی</h3>
                <ul>
                    <li><a href="#">سوالات</a></li>
                    <li><a href="#">قوانین</a></li>
                    <li><a href="#">شخصی</a></li>
                    <li><a href="#">گزارش</a></li>
                </ul>
            </div>

        </footer>
        <div class="copyright">
            <p>تمام حقوق مادی و معنوی این سایت متعلق است به ما</p>
            <div class="icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fas fa-blog"></i>
                <i class="fab fa-behance"></i>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/b1a07d897d.js"></script>
    </body>

</html>