<%- include('header', {title: 'Watch Shop'}); -%>

    <section class="first_sec">
        <div class="content">
            <h1>ساعت خودتو انتخاب کن</h1>
            <p>ساعتای اینجا خیلی خفنه دیگه مثلا</p>
            <a href="/store">
                <button>همین حالا بخر</button>
            </a>
        </div>
    </section>

    <section class="second_sec">
        <div class="container">
            <h2>محصولات جدید</h2>
            <div class="imgs-div">
                <div class="card">
                    <img src="/pexels-martin-p-2078268.jpg" alt="pic">
                    <div class="details">
                        <p>یک مدل خیلی خفن</p>
                        <p class="price">$45.32</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/pexels-mister-mister-380782.jpg" alt="pic">
                    <div class="details">
                        <p>یک مدل خیلی خفن تر</p>
                        <p class="price">$45.32</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/pexels-yugdas-manandhar-2155319.jpg" alt="pic">
                    <div class="details">
                        <p>خفن ترین مدل</p>
                        <p class="price">$45.32</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery">
        <div class="container">
            <div class="first-col">
                <img src="/pexels-jess-bailey-designs-1162519.jpg" alt="pic">
            </div>
            <div class="second-col">
                <img src="/pexels-fotografierende-1374128.jpg" alt="pic">
            </div>
            <div class="third-col">
                <img src="/pexels-pixabay-277390.jpg" alt="pic">
                <img src="/pexels-pixabay-267394.jpg" alt="pic">
            </div>
        </div>
    </section>

    <section class="popular">
        <div class="container">
            <div class="text">
                <h2>محصولات محبوب</h2>
                <p>این ساعتا انقدر خفن و محبوبه که هرکس وارد این سایت شده حداقل یدونه از اینارو خریده.</p>
            </div>
            <div class="popular-imgs">
                <div class="each-image">
                    <img src="/one.jpg" alt="pic">
                    <p>مارک خفن شماره یک</p>
                    <p>$20.99</p>
                </div>
                <div class="each-image">
                    <img src="/two.jpg" alt="pic">
                    <p>مارک خفن شماره دو</p>
                    <p>$30.98</p>
                </div>
                <div class="each-image">
                    <img src="/three.jpg" alt="pic">
                    <p>مارک خفن شماره سه</p>
                    <p>$23.61</p>
                </div>
            </div>
            <div class="popular-imgs">
                <div class="each-image">
                    <img src="/four.jpg" alt="pic">
                    <p>مارک خفن شماره چهار</p>
                    <p>$23.16</p>
                </div>
                <div class="each-image">
                    <img src="/five.jpg" alt="pic">
                    <p>مارک خفن شماره پنج</p>
                    <p>$26.98</p>
                </div>
                <div class="each-image">
                    <img src="/six.jpg" alt="pic">
                    <p>مارک خفن شماره شش</p>
                    <p>26.56</p>
                </div>
            </div>
            <a href="/store">
                <button class="more-products">دیدن محصولات بیشتر</button>
            </a>
        </div>
    </section>

    <section class="video">
        <div class="container video">
            <div class="circle">
                <i class="fas fa-play"></i>
            </div>
            <button class="big-btn">ویدیو بعدی
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
    </section>

    <section class="rev-sec">
        <div class="reverse-cards">
            <div class="pair">
                <div class="pair-details rev">
                    <h2>انتخاب شما</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                        کاربردی می باشد.</p>
                    <div>
                        <a href="/store">
                            <button class="more-products">دیدن ساعتها</button>
                        </a>
                    </div>
                </div>
                <div class="pair-image">
                    <img src="/four.jpg" alt="pic">
                </div>
            </div>
            <div class="pair">
                <div class="pair-image">
                    <img src="/six.jpg" alt="pic">
                </div>
                <div class="pair-details">
                    <h2>انتخاب شما</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                        کاربردی می باشد.</p>
                    <div>
                        <a href="/store">
                            <button class="more-products">دیدن ساعتها</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="red-box">
        <div class="red-container">
            <div class="box">
                <i class="fas fa-box"></i>
                <br>
                <strong>ارسال رایگان</strong>
                <p>رایگان می فرستیم</p>
            </div>
            <div class="box">
                <i class="fas fa-unlock-alt"></i>
                <br>
                <strong>خرید امن</strong>
                <p>امن خرید می کنید</p>
            </div>
            <div class="box">
                <i class="fas fa-redo-alt"></i>
                <br>
                <strong>تعویض</strong>
                <p>می تونید خریدتونو تعویض کنید</p>
            </div>
        </div>
    </section>

    <%- include('footer'); -%>